
<div class="bg-indigo-50 min-h-screen md:px-20 pt-6">
  <div class=" bg-white rounded-md px-6 py-10 max-w-2xl mx-auto" id='login_field'>
    <%= form_with( url: login_path, data: {turbo: false} ) do |u| %>
      <div class="space-y-4">

        <div class="fields flex space-x-4">
          <%= u.label :email, t('user.column.email') %>
          <%= u.email_field :email, class:"ml-2 outline-none py-1 px-2 text-md border-2 rounded-md"%>
        </div>

        <div class="fields flex space-x-4">
          <%= u.label :password, t('user.column.password') %>
          <%= u.password_field :password, class:"ml-2 outline-none py-1 px-2 text-md border-2 rounded-md" %>
        </div>

        <div class="fields flex space-x-4">
          <%= u.label :password_confirmation, t('user.column.password_confirmation') %>
          <%= u.password_field :password_confirmation, class:"ml-2 outline-none py-1 px-2 text-md border-2 rounded-md" %>
        </div>

        <button><%= u.submit t("user.action.login"), class:" px-6 py-2 mx-auto block rounded-md text-lg font-semibold bg-sky-600 hover:bg-sky-700 text-white cursor-pointer ", id:'login_button' %></button>
        <button class="px-6 py-2  rounded-md text-lg font-semibold bg-sky-600 hover:bg-sky-700 text-white cursor-pointer"><%= link_to t("user.action.login_to_new"), new_user_path %></button>

      </div>
    <% end %>
  </div>
</div>
