<h1>會員登入</h1>

<div class="bg-indigo-50 min-h-screen md:px-20 pt-6">
  <div class=" bg-white rounded-md px-6 py-10 max-w-2xl mx-auto">
    <%= form_with( model: @user, url: login_path, data: {turbo: false} ) do |u| %>
      <div class="space-y-4">

        <div class="fields flex space-x-4">
          <%= u.label :email, class: "text-lx " %>
          <%= u.email_field :email, class:"ml-2 outline-none py-1 px-2 text-md border-2 rounded-md"%>
        </div>

        <div class="fields flex space-x-4">
          <%= u.label :password_digest %>
          <%= u.password_field :password_digest, class:"ml-2 outline-none py-1 px-2 text-md border-2 rounded-md" %>
        </div>

        <div class="fields flex space-x-4">
          <%= u.label :password_confirmation%>
          <%= u.password_field :password_confirmation, class:"ml-2 outline-none py-1 px-2 text-md border-2 rounded-md" %>
        </div>

        <button><%= u.submit   class:" px-6 py-2 mx-auto block rounded-md text-lg font-semibold bg-sky-600 hover:bg-sky-700 text-white cursor-pointer " %></button>
      </div>
    <% end %>
  </div>
</div>
