<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900"><%= t("user.h1.login_user") %></h2>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-10 px-6 shadow sm:rounded-lg sm:px-10">
      <%= form_with( url: login_path, data: {turbo: false}, html:{class: "space-y-6"}) do |u| %>
          <div>
            <%= u.label :email, t('user.column.email'), class: "block text-lg font-medium text-gray-700" %>
            <div class="mt-1">
              <%= u.email_field :email, class: "user_field border-gray-300" %>
            </div>
          </div>

          <div>
            <%= u.label :password, t('user.column.password'), class: "block text-lg font-medium text-gray-700" %>
            <div class="mt-1">
              <%= u.password_field :password, class: "user_field border-gray-300" %>
            </div>
          </div>

          <div>
            <%= u.label :password_confirmation, t('user.column.password_confirmation'), class: "block text-lg font-medium text-gray-700" %>
            <div class="mt-1">
              <%= u.password_field :password_confirmation, class: "user_field border-gray-300" %>
            </div>
          </div>

          <div class=" w-full space-y-4 space-x-12 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5"> 
            <div>
              <button class= "submit_button" ><%= u.submit t("user.action.login") %></button>
            </div>
            <div>
              <button class= "submit_button" ><%= link_to t("user.action.login_to_new"), new_user_path %></button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
