
<%= form_with(model: task, data: {turbo: false}, html:{class: "space-y-6"}) do |t| %>
  <div>
    <%= t.label :title, class: "block text-lg font-medium text-gray-700" %>
    <div class="mt-1">
      <%= t.text_field :title, class:" task_field " + (t.object.errors[:title].present? ? 'border-rose-500' : 'border-gray-300'), placeholder:'請輸入標題' %>
    </div>
    <% if t.object.errors[:title] %>
      <span class="block text-sm font-medium text-rose-500" ><%= t.object.errors[:title][0] %></span>
    <% end %>
  </div>

  <div>
    <%= t.label :content, class: "block text-lg font-medium text-gray-700" %>
    <div class="mt-1">
      <%= t.text_area :content , class:" task_field " + (t.object.errors[:content].present? ? 'border-rose-500' : 'border-gray-300'), placeholder:'請輸入內容'%>
    </div>
    <% if t.object.errors[:content] %>
      <span class="block text-sm font-medium text-rose-500" ><%= t.object.errors[:content][0] %></span>
    <% end %>
  </div>

  <div>
    <%= t.label :start_time, class: "block text-lg font-medium text-gray-700" %>
    <div class="mt-1">
      <%= t.datetime_field :start_time, class:" task_field " + (t.object.errors[:start_time].present? ? 'border-rose-500' : 'border-gray-300') %>
    </div>
    <% if t.object.errors[:start_time] %>
      <span class="block text-sm font-medium text-rose-500" ><%= t.object.errors[:start_time][0] %></span>
    <% end %>
  </div>

  <div>
    <%= t.label :end_time, class: "block text-lg font-medium text-gray-700" %>
    <div class="mt-1">
    <%= t.datetime_field :end_time, class:" task_field " + (t.object.errors[:end_time].present? ? 'border-rose-500' : 'border-gray-300') %>
    </div>
    <% if t.object.errors[:end_time] %>
      <span class="block text-sm font-medium text-rose-500" ><%= t.object.errors[:end_time][0] %></span>
    <% end %>
  </div>

  <div>
    <%= t.label :priority, t("task.column.priority"), class: "block text-lg font-medium text-gray-700" %>
    <div class="mt-1">
      <%= select(:task, :priority ,option_for_priority_select(Task.priorities.keys), {}, class: "select_menu")%>
    </div>
  </div>

  <div>
    <%= t.label :state, t("task.column.state"), class: "block text-lg font-medium text-gray-700" %>
    <div class="mt-1">
      <%= select(:task, :state, option_for_state_select(Task.states.keys), {}, class: "select_menu")%>
    </div>
  </div>

  <div>
    <%= t.label :tags_name, class: "block text-lg font-medium text-gray-700" %>
    <div class="mt-1">
      <%= t.text_field :tags_name, placeholder: "請輸入標籤名稱", data: { controller: "tags" } %>
    </div>
  </div>

  <div>
    <div class="mt-4 mb-4">  
      <button><%= t.submit btn_label, class: "submit_button" %></button>
    </div> 
  </div>  
<% end %>

