<div class="md:container md:mx-auto">
  <div class="font-bold text-6xl text-blue-500">任務列表</div>
  <div class="mb-2 mt-2">
   <button class="px-6 py-2 text-xl rounded-lg w-1/8 bg-sky-600 hover:bg-sky-700 text-white"> <%= link_to "新增任務", new_task_path %></button>
   </div>
    <% @tasks.each do |task|%>
    <div class="grid grid-flow-row auto-rows-max border-2 px-6">
      <div class="py-4 text-4xl font-medium">任務名稱：<%= task.title%></div>
      <div class="space-y-2 text-xl">
        <div>任務內容：<%= task.content%></div>
        <div>任務優先順序：<%= task.priority%></div>
        <div>任務狀態：<%= task.status%></div>
        <div>任務開始時間：<%= task.start_time.to_s(:short)%></div>
        <div>任務結束時間：<%= task.end_time.to_s(:short)%></div>
        <button class="px-6 py-2 rounded-lg w-1/8 bg-sky-600 hover:bg-sky-700 text-white"><%= link_to "查看任務", task_path(task)%></button>
        <button class="px-6 py-2 rounded-lg w-1/8 bg-sky-600 hover:bg-sky-700 text-white"><%= link_to "編輯任務", edit_task_path(task)%></button>
        <button class="px-6 py-2 rounded-lg w-1/8 bg-gray-400 hover:bg-gray-500 text-white"><%= link_to "刪除任務", task_path(task), data: { "turbo-method": :delete}%></button>
       </div>
    </div>
    <% end %>
</div>
