<div class="md:container md:mx-auto" id="user_list">
  <div class="font-bold text-6xl text-blue-500"><%=t("user.h1.index_user")%></div>
  <div class="mb-2 mt-2">
    <button class="px-6 py-2 text-xl rounded-lg w-1/8 bg-sky-600 hover:bg-sky-700 text-white"> <%= link_to t("user.action.new"), new_path %></button>
  </div>
  <table id="user_info">
    <thead class="font-bold text-l">
      <tr>
        <th><%=t("user.column.name")%></th>
        <th><%=t("user.column.email")%></th>
        <th><%=t("user.column.task_size")%></th>
        <th><%=t("user.column.role")%></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u|%>
          <tr id="user_card">
            <td><%= u.name%></td>
            <td><%= u.email%></td>
            <td><%= u.tasks.size%></td>
            <td><%= u.role%></td>
            <td><button class="px-6 py-2 rounded-lg w-1/8 bg-sky-600 hover:bg-sky-700 text-white"><%= link_to t("user.action.user_edit"), edit_admin_user_path(u)%></button></td>
            <td></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users, window: 2 %>
</div>